<div id="augs-research">
    <sly-card title="Input Project" subtitle="Original data remains unchanged, new project will be created">
        <sly-field title="" description="Input Data">
            <a slot="title" target="_blank"
               :href="`/projects/${data.projectId}/datasets`">{{data.projectName}} ({{data.projectItemsCount}}
                images)</a>
            <sly-icon slot="icon" :options="{ imageUrl: `${data.projectPreviewUrl}` }"/>
        </sly-field>
    </sly-card>

    <sly-style>
        #augs-research .sly-copy-to-clipboard-widget {
            background: #eeffcc;
        }
        #augs-research .sly-copy-to-clipboard-widget .content .ace-chrome {
            background-color: #eeffcc;
        }
    </sly-style>
    <div class="fflex mt15" style="align-items: stretch">
        <sly-card class="mr15"
                  title="Settings"
                  subtitle="Configure sliding windows parameters"
                  style="min-width: 310px; max-width: 310px;">
            <sly-field title="Augmenter Category" description="All augs are grouped into categories">
                <el-select v-model="state.category" placeholder="Select category">
                    <el-option v-for="item in data.categories" :key="item" :label="item" :value="item"></el-option>
                </el-select>
            </sly-field>

            <sly-field title="Transformation" description="Select one of the category augs">
                <el-select :value="state.aug" @input="
                    (val) => {
                        state.aug = val;
                        command('refresh_aug');
                    }
                    ">
                    <el-option v-for="item in data.augs[state.category]" :key="item" :label="item"
                               :value="item"></el-option>
                </el-select>
            </sly-field>

            <sly-field v-if="state.aug" title="Params" description="Aug arguments with default settings">
                <div v-for="item in data.config[state.category][state.aug].params" :key="item.name">
                    <div class="mt10">
                        <b style="color: green">{{item.name}}</b> =
                        <span style="color: blue">{{state.augVModels[state.category][state.aug][item.name]}}</span>
                    </div>
                    <el-slider class="ml10 mr10"
                               v-if="item.type === 'el-slider-range'"
                               v-model="state.augVModels[state.category][state.aug][item.name]" range
                               :min="item.min" :max="item.max">
                    </el-slider>
                </div>
            </sly-field>


        </sly-card>

        <el-tabs type="border-card" style="width: 100%">
            <el-tab-pane label="Preview">
                <sly-field v-if="state.aug" title="Python code">
                    <sly-copy-to-clipboard :data="state.py">
                        <sly-editor v-model="state.py"
                                    :options="{
                                    mode: 'ace/mode/python',
                                    showGutter: false,
                                    readOnly: true,
                                    maxLines: 10,
                                    highlightActiveLine: false
                                 }">
                        </sly-editor>
                    </sly-copy-to-clipboard>
                </sly-field>
<!--                <sly-field v-if="state.aug" title="Python code">-->
<!--                    <sly-copy-to-clipboard v-if="state.aug"-->
<!--                                           :data="data.config[state.category][state.aug].py">-->
<!--                        <sly-editor v-model="data.config[state.category][state.aug].py"-->
<!--                                    :options="{-->
<!--                                    mode: 'ace/mode/python',-->
<!--                                    showGutter: false,-->
<!--                                    readOnly: true,-->
<!--                                    maxLines: 10,-->
<!--                                    highlightActiveLine: false-->
<!--                                 }">-->
<!--                        </sly-editor>-->
<!--                    </sly-copy-to-clipboard>-->
<!--                </sly-field>-->
            </el-tab-pane>
<!--            <el-tab-pane label="Documentation">-->
<!--                <div>Documentation</div>-->
<!--&lt;!&ndash;                <pre>{{data.docstring}}</pre>&ndash;&gt;-->
<!--                <sly-markdown :data="data.docstring"></sly-markdown>-->
<!--            </el-tab-pane>-->
        </el-tabs>
        <!--        <sly-card title="Preview Sele"-->
        <!--                  subtitle="Visualize sliding windows on random image as video"-->
        <!--                  style="width: 100%">-->
        <!--            <div>123</div>-->
        <!--        </sly-card>-->
    </div>
</div>